$blue-100: #26547C;
$blue-200: #C5D5EA;
$blue-300: #B3C5D7;
$blue-400: #D8E1E9;
$blue-500: #F48C54;

$green-100: #9FB798;
$green-200: #6F9064;
$green-300: #546C4B;
  
$yellow-100: #F0A211;
$yellow-200: #CD8A0D;
$yellow-300: #AB730B;
  
$red-100: #DB4359;
$red-200: #CE2740;
$red-300: #AB2135;
  
$neutral-100: #ffffff;
$neutral-200: #f4f5f7;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$neutral-600: #000000;

$text-default: #000;
$text-inverted: #ddd;